body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    color: black;
}

header {
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    padding: 1rem;
    padding-left: 100px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: black;
}

header a {
    font-weight: bold;
}

header a, nav a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 0px 16px;
    font-family: 'Inter', sans-serif !important;
}



header a:hover, nav a:hover {
    background-color: #ddd;
    color: black;
}

nav {
    background-color: #F9F9FA;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

main {
    padding: 20px;
}

main h2 {
    color: black;
}

.content {
    padding: 2rem;
    text-align: center;
}

.content h1 {
    font-size: 2rem;
    color: black;
}

.content p {
    font-size: 1rem;
    line-height: 1.5;
    color: black;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    position: static;
    width: 100%;
    bottom: 0;
    font-family: 'Inter', sans-serif;
}

.small-logo {
    height: 32px;
    width:  112px;
}

.os-header {
    background-color: #f9f9f9;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}
  
.os-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
  
.os-links li {
    margin: 0 15px;
}
  
.os-links a {
    text-decoration: none;
    color: #333;
}
  
.os-links a:hover {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.LeftAlign {
    text-align: left;
}

.FirefoxLogoStyling {
    width: 250px;
    text-align: left !important;
    display: block;
    padding-left: 30px;
}

.IcefoxLogoStyling {
    width: 150px;
    text-align: left !important;
    display: block;
}

.VerticalPadding {
    padding-top: 20px;
    padding-bottom: 20px;
}

table {
    max-width: 1500px;
    margin: 0 auto;
    border-collapse: collapse;
}

td:first-child {
    text-align: left;
    width: 50%;
}

td:last-child {
    text-align: right;
    width: 50%;
}

.MozillaFont {
    font-family: 'Metropolis', sans-serif;
    font-size: 50px !important;
    text-align: left !important;
    line-height: 1.15 !important;
    padding-left: 30px;
    color: rgb(32, 18, 58) !important;
}

.IcefoxForDesktop {
    color: rgb(32, 18, 58) !important;
    font-weight: bold !important;
    padding-right: 200px;
    font-family: 'Inter', sans-serif;
}

.MozillaFontTripleColumn {
    font-family: 'Metropolis', sans-serif;
    font-size: 24px !important;
    color: rgb(32, 18, 58) !important;
}

.InterFontTripleColumn {
    font-family: 'Inter', sans-serif;
    color: rgb(66, 66, 90) !important;
}

.button {
    width: 200px;
    background-color: #0060DF;
    border: none;
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-left: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    white-space: normal;
    overflow: hidden;
    font-family: 'Metropolis', sans-serif;
    font-weight: bold;
    display: flex;

}

.button:hover {
    background-color: #0250BB;
    transition: 0.1s;
}

.ImageGap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.TextBelowDownloadButton {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 12px !important;
    display: flex;
    margin-left: 30px;
    padding-top: 10px;
    color: rgb(66, 66, 90) !important;
}

.TextBelowDownloadButton:hover {
    text-decoration: underline;
}

.TripleColumn {
    width: calc(100% / 3) !important;
    text-align: center !important;
    vertical-align: top;
    padding-left: 30px;
    padding-right: 30px;
}

.TripleColumnImage {
    display: block;
    margin: 0 auto 10px;
    width: 96px;
}

.FooterLinks {
    color: #00BFFF;
    text-decoration: underline !important;
}

.FooterLinks:hover {
    color: cyan;
}